<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label class="control-label" for="curveId">curveId</label>
				<input id="curveId" class="form-control" type="number" step=".01" name="curveId" th:value="${curvePoint.curveId}" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
			</div>

			<div class="form-group">
				<label class="control-label" for="term">term</label>
				<input id="term" class="form-control" type="number" step=".01" name="term" th:value="${curvePoint.term}" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
			</div>

			<div class="form-group">
				<label class="control-label" for="value">value</label>
				<input id="value" class="form-control" type="number" step=".01" name="value" th:value="${curvePoint.value}" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
			</div>

			<div class="form-group">
				<div class="row justify-content-around">
					<div class="col-sm-6 col-sm-offset-3 text-right">
						<a class="w-50 btn btn-danger btn" th:href="@{/curvePoint/list}">
							Cancel
						</a>
					</div>
					<div class="col-sm-6 col-sm-offset-3 text-left">
						<button type="submit" class="w-50 form-control btn btn-primary">
							Update CurvePoint
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>