<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label class="control-label" for="moodysRating">Moodys rating</label>
				<input id="moodysRating" class="form-control" type="text" th:value="${rating.moodysRating}" name="moodysRating" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodysRating}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="sandPRating">SandP rating</label>
				<input id="sandPRating" class="form-control" type="text" th:value="${rating.sandPRating}" name="sandPRating" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('sandPRating')}" th:errors="*{sandPRating}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="fitchRating">Fitch rating</label>
				<input id="fitchRating" class="form-control" type="text" th:value="${rating.fitchRating}" name="fitchRating" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="orderNumber">Order number</label>
				<input id="orderNumber" class="form-control" type="number" th:value="${rating.orderNumber}" name="orderNumber" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></p>
			</div>
			<div class="form-group">
				<div class="row justify-content-center">
					<div class="col-sm-6 col-sm-offset-3 text-right">
						<a class="w-50 btn btn-danger btn" th:href="@{/rating/list}">
							Cancel
						</a>
					</div>
					<div class="col-sm-6 col-sm-offset-3 text-left">
						<button type="submit" class="w-50 form-control btn btn-primary">
							Update Rating
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>