<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/validate}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label class="control-label" for="name">Name</label>
				<input id="name" class="form-control" type="text" name="name" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="description">Description</label>
				<input id="description" class="form-control" type="text" name="description" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="json">Json</label>
				<input id="json" class="form-control" type="text" name="json" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('json')}" th:errors="*{json}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="template">Template</label>
				<input id="template" class="form-control" type="text" name="template" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="sqlStr">SqlStr</label>
				<input id="sqlStr" class="form-control" type="text" name="sqlStr" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('sqlStr')}" th:errors="*{sqlStr}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="sqlPart">SqlPart</label>
				<input id="sqlPart" class="form-control" type="text" name="sqlPart" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('sqlPart')}" th:errors="*{sqlPart}"></p>
			</div>
			<div class="form-group">
				<div class="row justify-content-center">
					<div class="col-sm-6 col-sm-offset-3 text-right">
						<a class="w-50 btn btn-danger btn" th:href="@{/ruleName/list}">
							Cancel
						</a>
					</div>
					<div class="col-sm-6 col-sm-offset-3 text-left">
						<button type="submit" class="w-50 form-control btn btn-primary">
							Add RuleName
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>