<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label class="control-label" for="account">Account</label>
				<input id="account" class="form-control" type="text" th:value="${trade.account}" name="account" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="type">Type</label>
				<input id="type" class="form-control" type="text" th:value="${trade.type}" name="type" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
			</div>
			<div class="form-group">
				<label class="control-label" for="buyQuantity">Buy quantity</label>
				<input id="buyQuantity" class="form-control" type="number" step=".01" th:value="${trade.buyQuantity}" name="buyQuantity" required/>
				<p class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></p>
			</div>
			<div class="form-group">
				<div class="row justify-content-center">
					<div class="col-sm-6 col-sm-offset-3 text-right">
						<a class="w-50 btn btn-danger btn" th:href="@{/trade/list}">
							Cancel
						</a>
					</div>
					<div class="col-sm-6 col-sm-offset-3 text-left">
						<button type="submit" class="w-50 form-control btn btn-primary">
							Update Trade
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>