<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		 <form action="#" th:action="@{/bidList/update/{id}(id=${bidlist.id})}" th:object="${bidlist}" th:method="post" class="form-horizontal" style="width: 100%">
			 <div class="form-group">
				 <label class="control-label" for="account">Account</label>
				 <input id="account" class="form-control" type="text" th:value="${bidlist.account}" name="account" required/>
				 <p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
			 </div>
			 <div class="form-group">
				 <label class="control-label" for="type">type</label>
				 <input id="type" class="form-control" type="text" th:value="${bidlist.type}" name="type" required/>
				 <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
			 </div>
			 <div class="form-group">
				 <label class="control-label" for="bidQuantity">bidQuantity</label>
				 <input id="bidQuantity" class="form-control" type="number" step=".01" th:value="${bidlist.bidQuantity}" name="bidQuantity" required/>
				 <p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>
			 </div>
			 <div class="form-group">
				 <div class="row justify-content-center">
					 <div class="col-sm-6 col-sm-offset-3 text-right">
						 <a class="btn btn-danger btn w-50" th:href="@{/bidList/list}">
							 Cancel
						 </a>
					 </div>

					 <div class="col-sm-6 col-sm-offset-3 text-left">
						 <button type="submit" class="w-50 form-control btn btn-primary">
							 Update BidList
						 </button>
					 </div>
				 </div>
			 </div>
		</form>
	</div>

</div>
</body>
</html>